@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*ESTILO GENERAL, DESPUÉS VER QUÉ SERÍA*/
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    color: #7a5c3c;
}

/*ESTILO HEADER*/
.headerestetico {
    background-color: #b08e6b;
     padding: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logofoto {
    margin-left: 20px;
    filter: hightness(1.1);
    mix-blend-mode: multiply;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #f5e1ce;
    font-weight: bold;
    transition: color 0,3s;
}
nav a:hover {
    color: #7a5c3c;
}
.estudiojuridiconombre {
    font-weight: bold;
    color: #7a5c3c;
    font-family: Arial, sans-serif;
}


/*ESTILO MAIN-INICIO*/
main {
background-color: #ffffff;
margin: 0 auto;
padding: 9rem;
}
h1, h2, h3 {
    font-weight: bold;
    color: #7a5c3c;
}
p {
    color: #b08e6b;
}


/*ESTILO SERVICIOS*/
#servicios {
    background-color: #b08e6b;
    margin: 0 auto;
    padding: 9rem;
}
.servicioslista {
    list-style: disc;
    margin-left: 20px;
    color: #f5e1ce;
}


/*ESTILO EQUIPO*/
#equipo {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15rem;
}
.miembrosequipo {
    display: flex;
    justify-content: space-around;
}
.miembro {
    text-align: center;
}
.miembro img {
    border-radius: 50%;
    max-width: 150px;
}


/*ESTILO CONTACTO*/
#contacto {
    background-color: #b08e6b;
    margin: 0 auto;
    padding: 70px;
}
-formgroup {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f5e1ce;
}
input, textarea {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #f5e1ce;
    color: #fff;
    padding: 10 pc 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ff6b6b;
}
.buttonestetico {
    background-color: #b08e6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
-buttonestetico:hover {
    background-color: #ff6b6b;
}


/*ESTILO PIE DE PÁGINA*/
#pie {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}
